* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

body {
  font-size: 100%;
  font-family: "Cairo", sans-serif;
  background-color: #26243b;
}

main {
  min-height: 100vh;
}

header nav {
  background-color: rgba(129, 46, 148, 0.178);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.02);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.02);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  font-family: "Inter", sans-serif;
}
header nav .logo {
  color: #eee;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0.5;
}
header nav .nav-list {
  width: 85%;
}
header nav .nav-list .nav-item .nav-link {
  color: #eee;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 17px;
}
header nav .nav-list .nav-item .nav-link:hover {
  color: #ddd;
}
header nav .action-btn {
  color: #eee;
  border: none;
  font-size: 17px;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header nav .action-btn:hover {
  color: #eee;
}
header nav .action-btn:hover svg {
  -webkit-animation: paper-flight 1s linear alternate infinite;
          animation: paper-flight 1s linear alternate infinite;
}
header nav .action-btn svg {
  font-size: 17px;
}

@-webkit-keyframes paper-flight {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  40% {
    -webkit-transform: translateX(1px) translateY(4px);
            transform: translateX(1px) translateY(4px);
  }
  70% {
    -webkit-transform: translateX(4px) translateY(2px);
            transform: translateX(4px) translateY(2px);
  }
  100% {
    -webkit-transform: translateX(6px) translateY(4px);
            transform: translateX(6px) translateY(4px);
  }
}

@keyframes paper-flight {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  40% {
    -webkit-transform: translateX(1px) translateY(4px);
            transform: translateX(1px) translateY(4px);
  }
  70% {
    -webkit-transform: translateX(4px) translateY(2px);
            transform: translateX(4px) translateY(2px);
  }
  100% {
    -webkit-transform: translateX(6px) translateY(4px);
            transform: translateX(6px) translateY(4px);
  }
}
footer {
  background-color: #03001e;
}
footer .container p {
  color: #fff;
  font-size: 18px;
}
footer .container p:nth-child(2) svg {
  color: #f44336;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
footer .container p:nth-child(2):hover svg {
  -webkit-animation: pulse 0.6s infinite linear alternate;
          animation: pulse 0.6s infinite linear alternate;
}

.home-page .landing {
  -webkit-animation: linear-animation ease-in-out alternate infinite;
          animation: linear-animation ease-in-out alternate infinite;
  min-height: 100vh;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#feac5e), color-stop(#c779d0), to(#4bc0c8));
  background-image: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  padding-top: 100px;
}
@-webkit-keyframes linear-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes linear-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home-page .landing .image {
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: -50px -20px 40px rgba(227, 135, 255, 0.25), 0px 50px 40px rgba(255, 219, 57, 0.3), 50px -20px 40px rgba(118, 255, 255, 0.3), 0 0 2px 4px rgba(255, 255, 255, 0.6);
          box-shadow: -50px -20px 40px rgba(227, 135, 255, 0.25), 0px 50px 40px rgba(255, 219, 57, 0.3), 50px -20px 40px rgba(118, 255, 255, 0.3), 0 0 2px 4px rgba(255, 255, 255, 0.6);
}
@media (max-width: 767px) {
  .home-page .landing .image {
    width: 220px;
  }
}
.home-page .landing h1 {
  font-size: 88px;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 767px) {
  .home-page .landing h1 {
    font-size: 60px;
  }
}
.home-page .landing p {
  color: #eee;
  font-size: 28px;
  letter-spacing: 1px;
  opacity: 0.8;
}
@media (max-width: 767px) {
  .home-page .landing p {
    font-size: 22px;
  }
}
.home-page .landing .arrow-icon {
  font-size: 22px;
  color: #eee;
}
.home-page .landing .arrow-icon svg {
  -webkit-animation: up-down 0.9s linear alternate infinite;
          animation: up-down 0.9s linear alternate infinite;
}
@-webkit-keyframes up-down {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}
@keyframes up-down {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-7px);
            transform: translateY(-7px);
  }
}
.home-page .quote p,
.home-page .quote .quote-bottom {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .home-page .quote p,
.home-page .quote .quote-bottom {
    font-size: 45px;
  }
}
.home-page .quote .quote-bottom {
  background-image: -webkit-gradient(linear, left top, right top, from(#feac5e), color-stop(#c779d0), to(#4bc0c8));
  background-image: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
  background-size: 400% 400%;
  -webkit-animation: linear-animation 10s ease alternate infinite;
          animation: linear-animation 10s ease alternate infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@keyframes linear-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.home-page .quote .author {
  color: #eee;
  font-size: 22px;
  font-weight: 600;
}
.home-page .quote .scrolling {
  width: 30px;
  height: 50px;
  border: 3px solid #eee;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.home-page .quote .scrolling::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #26243b;
  border-radius: 50%;
  bottom: 0;
}
.home-page .quote .scrolling span {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: down-and-hide 1.5s linear infinite;
          animation: down-and-hide 1.5s linear infinite;
}
@-webkit-keyframes down-and-hide {
  100% {
    top: 100%;
  }
}
@keyframes down-and-hide {
  100% {
    top: 100%;
  }
}
.home-page .about {
  padding: 100px 0;
  background-color: #03001e;
}
.home-page .about .main-heading h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 25px;
  background: linear-gradient(117deg, rgb(254, 172, 94) 0%, rgb(75, 192, 200) 71%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-page .about p {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .home-page .about p {
    font-size: 25px;
  }
}
.home-page .about p .name {
  color: #4bc0c8;
}
.home-page .about p .passion {
  color: #f44336;
}
.home-page .about p .responsive {
  color: #f59e0b;
}
.home-page .about-img img {
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-box-shadow: 6px 11px 10px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 11px 10px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
}
.home-page .about-img button {
  border: 2px solid #ddd;
  background-color: transparent;
  color: white;
  padding: 5px 20px;
  border-radius: 7px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.home-page .about-img .cv:hover {
  background-color: #f59e0b;
  border-color: #f59e0b;
}
.home-page .about-img .github:hover {
  background-color: #4bc0c8;
  border-color: #4bc0c8;
}
.home-page .services {
  background-color: #eee;
  background-image: url("../imgs/abstract-element.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.home-page .services .heading {
  color: #fff;
  font-family: "Inter", sans-serif;
  background: linear-gradient(110deg, #31b3ec 30%, #f89aa6 60%);
  font-size: 85px;
  margin-bottom: 70px;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .home-page .services .heading {
    font-size: 55px;
  }
}
.home-page .services .row .text .main-heading h3 {
  font-size: 29px;
  font-weight: 700;
  color: #4bc0c8;
}
@media (max-width: 767px) {
  .home-page .services .row .text .main-heading h3 {
    font-size: 25px;
  }
}
.home-page .services .row .text h2 {
  color: #eee;
  font-size: 55px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .home-page .services .row .text h2 {
    font-size: 45px;
  }
}
.home-page .services .row .text h2 span {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.home-page .services .row .text h2 span::before {
  content: "";
  position: absolute;
  width: 113%;
  height: 57px;
  background-color: #4bc0c8;
  z-index: -1;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  top: 52%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -16px;
}
@media (max-width: 767px) {
  .home-page .services .row .text h2 span::before {
    height: 47px;
    width: 118%;
  }
}
.home-page .services .row .text button {
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #f59e0b;
  font-weight: 700;
  border: none;
}
.home-page .services .row .text button a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #ddd;
}
.home-page .services .row .text button:hover a {
  color: #26243b;
}
.home-page .services .row .box-img {
  border-radius: 7px;
}
.home-page .services .row .box {
  background-image: linear-gradient(111.46deg, rgba(180, 180, 180, 0.5) 0%, rgba(153, 153, 153, 0.15) 100%);
  border: 2px solid rgba(224, 224, 224, 0.2);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 7px;
  height: 50%;
  overflow: hidden;
}
.home-page .services .row .box .title img {
  width: 35px;
}
.home-page .services .row .box .title h3 {
  color: #ddd;
  font-size: 21px;
  font-weight: 700;
}
.home-page .services .row .box p {
  color: #ddd;
  font-size: 18px;
  font-weight: 500;
}
.home-page .services .skills {
  padding-top: 100px;
}
.home-page .services .skills h3 {
  color: #ddd;
  font-size: 50px;
  font-weight: 700;
}
.home-page .services .skills .tools .tool {
  background-color: #26243b;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.home-page .projects {
  background-color: #03001e;
}
.home-page .projects .heading h1 {
  color: #fff;
  text-align: center;
  font-size: 65px;
  line-height: 0.9;
  font-weight: 700;
}
@media (max-width: 767px) {
  .home-page .projects .heading h1 {
    line-height: 1.3;
    font-size: 40px;
  }
}
.home-page .projects .heading h1 svg {
  font-size: 50px;
  color: #799bd8;
}
@media (max-width: 767px) {
  .home-page .projects .heading h1 svg {
    font-size: 28px;
  }
}
.home-page .projects .heading span {
  color: #799bd8;
}
.home-page .projects .project {
  background-color: white;
  height: 190px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.home-page .projects .project:hover {
  -webkit-transform: perspective(800px) rotateY(-8deg) translateY(-20px) rotateX(10deg) scale(1, 1);
          transform: perspective(800px) rotateY(-8deg) translateY(-20px) rotateX(10deg) scale(1, 1);
}
.home-page .projects .project img {
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.home-page .projects .project .icons {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  background-color: rgba(3, 0, 30, 0.6196078431);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  pointer-events: none;
}
.home-page .projects .project .icons a {
  color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.home-page .projects .project .icons a:hover {
  color: #4bc0c8;
}
.home-page .projects .project:hover .icons {
  height: 100%;
  opacity: 1;
  pointer-events: auto;
}
.home-page .projects .show-more {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #f59e0b;
  font-size: 20px;
  text-transform: uppercase;
}
.home-page .contact {
  min-height: 70vh;
}
.home-page .contact .heading {
  font-size: 65px;
  font-weight: 700;
  color: #eee;
  background: linear-gradient(12deg, rgb(254, 172, 94) 0%, rgb(75, 192, 200) 71%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .home-page .contact .heading {
    line-height: 1.3;
    font-size: 35px;
  }
}
.home-page .contact .contact-icons .button {
  width: 60px;
  height: 60px;
  -webkit-box-shadow: inset 0px 8px 30px rgba(23, 9, 44, 0.37);
          box-shadow: inset 0px 8px 30px rgba(23, 9, 44, 0.37);
  border-radius: 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  border: 2px solid #4bc0c8;
}
.home-page .contact .contact-icons .button:hover {
  width: 200px;
  -webkit-box-shadow: 0 0 30px 0 #009688;
          box-shadow: 0 0 30px 0 #009688;
}
.home-page .contact .contact-icons .button a .icon {
  width: 60px;
  height: 60px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 5px;
}
.home-page .contact .contact-icons .button a .icon svg {
  font-size: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}
.home-page .contact .contact-icons .button a span {
  font-size: 20px;
  font-weight: 600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}
.home-page .contact button {
  color: #48b6bf;
  padding: 7px 0;
  border-radius: 25px;
  font-size: 23px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 170px;
  -webkit-box-shadow: rgba(23, 9, 44, 0.37) 0px 8px 30px;
          box-shadow: rgba(23, 9, 44, 0.37) 0px 8px 30px;
}
.home-page .contact button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #48b6bf;
  color: #fff;
  -webkit-box-shadow: 0 0 30px 0 #009688;
          box-shadow: 0 0 30px 0 #009688;
}
.home-page .contact button svg {
  font-size: 15px;
}
.home-page .preloader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #26243b;
  z-index: 2000;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.home-page .preloader .preloader-container {
  width: 200px;
  height: 200px;
}
.home-page .preloader .preloader-container .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.home-page .preloader .preloader-container .inner.one {
  left: 0%;
  top: 0%;
  -webkit-animation: rotate-one 1.5s linear infinite;
          animation: rotate-one 1.5s linear infinite;
  border-bottom: 4px solid #5C5EDC;
}
.home-page .preloader .preloader-container .inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1.5s linear infinite;
          animation: rotate-two 1.5s linear infinite;
  border-right: 4px solid rgba(76, 70, 101, 0.99);
}
.home-page .preloader .preloader-container .inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1.5s linear infinite;
          animation: rotate-three 1.5s linear infinite;
  border-top: 4px solid rgb(233, 144, 138);
}
@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.home-page .scroll-to-top {
  width: 35px;
  height: 35px;
  bottom: 15px;
  right: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: none;
}
.home-page .scroll-to-top svg {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.home-page .scroll-to-top:hover {
  border-color: #666;
}
.home-page .scroll-to-top:hover svg {
  color: #666;
}

.form-page {
  background-color: #777;
}
.form-page header nav .action-btn:hover svg {
  -webkit-animation: right-left 0.4s linear alternate infinite;
          animation: right-left 0.4s linear alternate infinite;
}
@-webkit-keyframes right-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
}
@keyframes right-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
}
.form-page header nav .action-btn svg {
  font-size: 14px;
}
.form-page .contact {
  -webkit-animation: linear-animation ease-in-out alternate infinite;
          animation: linear-animation ease-in-out alternate infinite;
  min-height: 100vh;
  padding-top: 110px;
  background-image: url("../imgs/stats-2.jpg");
  background-repeat: no-repeat;
  background-size: 106%;
  background-position: center center;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
@keyframes linear-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media (max-width: 1199px) {
  .form-page .contact {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .form-page .contact {
    -webkit-animation-duration: 40s;
            animation-duration: 40s;
    padding-top: 80px;
  }
}
.form-page .contact-form .text h1 {
  text-align: center;
  color: #ddd;
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 80px;
}
@media (max-width: 767px) {
  .form-page .contact-form .text h1 {
    font-size: 58px;
  }
}
.form-page .contact-form .form {
  width: 500px;
}
@media (max-width: 767px) {
  .form-page .contact-form .form {
    width: 350px;
  }
}
.form-page .contact-form .form input, .form-page .contact-form .form textarea {
  outline: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid #bababa;
  color: #ddd;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  caret-color: #4bc0c8;
  border-radius: 7px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.form-page .contact-form .form input:focus, .form-page .contact-form .form textarea:focus {
  border-color: #4bc0c8;
}
.form-page .contact-form .form input::-webkit-input-placeholder, .form-page .contact-form .form textarea::-webkit-input-placeholder {
  color: #ddd;
  font-size: 16px;
}
.form-page .contact-form .form input::-moz-placeholder, .form-page .contact-form .form textarea::-moz-placeholder {
  color: #ddd;
  font-size: 16px;
}
.form-page .contact-form .form input:-ms-input-placeholder, .form-page .contact-form .form textarea:-ms-input-placeholder {
  color: #ddd;
  font-size: 16px;
}
.form-page .contact-form .form input::-ms-input-placeholder, .form-page .contact-form .form textarea::-ms-input-placeholder {
  color: #ddd;
  font-size: 16px;
}
.form-page .contact-form .form input::placeholder, .form-page .contact-form .form textarea::placeholder {
  color: #ddd;
  font-size: 16px;
}
.form-page .contact-form .form input {
  height: 50px;
  padding: 0 15px;
}
.form-page .contact-form .form textarea {
  height: 210px;
  resize: none;
  padding: 10px 15px;
}
.form-page .contact-form .form textarea::-webkit-scrollbar {
  width: 0;
}
.form-page .contact-form .form button {
  color: #03001e;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #bababa;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 2px solid #bababa;
}
.form-page .contact-form .form button:hover {
  background-color: transparent;
  color: #ddd;
}