$lightGreyColor: #eee;
$darkerGreyColor: #ddd;
$transition: 0.4s;
$blueColor: #4bc0c8;
$orangeColor: #f59e0b;
$redColor: #f44336;
$whiteColor: #fff;
$darkPurpleColor: #26243b;
$darkerPurpleColor:#03001e;
$borderRadius: 7px;