.form-page{
    background-color: #777;
    header{
        nav{
            .action-btn{
                &:hover svg{
                    animation: right-left 0.4s linear alternate infinite;
                    @include right-left-animation;
                }
                svg{
                    font-size: 14px;
                }
            }
        }
    }
    .contact{
        @include landing;
        padding-top: 110px;
        background-image: url('../imgs/stats-2.jpg');
        background-repeat: no-repeat;
        background-size: 106%;
        background-position: center center;
        animation-duration: 10s;
        @media (max-width: 1199px) {
            background-size: cover;
        }
        @media (max-width: 767px) {
            animation-duration: 40s;
            padding-top: 80px;
        }
        &-form{
            .text{
                h1{
                    text-align: center;
                    color: $darkerGreyColor;
                    margin-bottom: 25px;
                    font-weight: 800;
                    font-size: 80px;
                    @media (max-width:767px) {
                        font-size: 58px;
                    }
                }
            }
            .form{
                width: 500px;
                @media (max-width:767px) {
                    width: 350px;
                }
                input, textarea{
                    outline: none;
                    width: 100%;
                    background-color: rgba(0,0,0,0.3);
                    border: 2px solid #bababa;
                    color: $darkerGreyColor;
                    font-weight: 700;
                    letter-spacing: 1px;
                    font-size: 18px;
                    caret-color: $blueColor;
                    border-radius: $borderRadius;
                    transition: $transition;
                    &:focus{
                        border-color: $blueColor
                    }
                    &::placeholder{
                        color: $darkerGreyColor;
                        font-size: 16px;
                    }
                }
                input{
                    height: 50px;
                    padding: 0 15px;
                }
                textarea{
                    height: 210px;
                    resize: none;
                    padding: 10px 15px;
                    &::-webkit-scrollbar{
                        width: 0;
                    }
                }
                button{
                    color: $darkerPurpleColor;
                    font-size: 17px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    background-color: #bababa;
                    text-transform: uppercase;
                    align-self: flex-start;
                    transition: $transition;
                    border: 2px solid #bababa;
                    &:hover{
                        background-color: transparent;
                        color: $darkerGreyColor;
                    }
                }
            }
        }
    }
}